<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Subscribe Form</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.js"></script>
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
        <script src="app.js"></script>
        <script src="angular-spinners.js"></script>
        <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
        <script src="bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>

    </head>
    <body ng-app="myapp">
        <div ng-controller="formCtrl" class="container">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">

                    <form name="userForm" ng-submit="addSubscriber()" ng-show="!subscribed" novalidate>
                        <spinner name="html5spinner" ng-cloak="">

                            <div class="overlay"></div>
                            <div class="spinner">
                                <img class="logo" src="test.png" />
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>
                            <div class="please-wait">Please Wait...</div>
                        </spinner>

                        <h3 style="color:grey">SUBSCRIBE to get LATEST information from SiaoKaki!</h3>
                        <!-- email field-->
                        <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid } ">
                            <label>Email address</label>
                            <input type="email" name="email" class="form-control" placeholder="Email" ng-model="email" required>
                        </div>
                        <div vc-recaptcha key="recaptchaKey" ng-show="userForm.email.$valid" ng-model="gRecaptchaResponse"></div><br>

                        <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                            <p ng-message="email">This needs to be a valid email</p>
                        </div>
                        <div ng-messages="userForm.$submitted && userForm.email.$error">
                            <div style="color:red !important" ng-message="required">Email is required</div>
                        </div>

                        <button type="submit" class="btn btn-success" ng-disabled="(userForm.email.$invalid || gRecaptchaResponse === undefined)">Subscribe</button>
                    </form>
                    <hr>
                    <pre>
                        "$valid:"{{userForm.email.$valid}}
                        "$invalid:"{{userForm.email.$invalid}}                            
                        "$touched:"{{userForm.email.$touched}}
                        "$untouched:"{{userForm.email.$untouched}}
                        "$error:"{{userForm.email.$error}}    
                        "$submitted:"{{userForm.email.$submitted}}                                                    
                        "$dirty:"{{userForm.email.$dirty}}                                                    
                        "$pristine:"{{userForm.email.$pristine}}       
                        "recaptcha:"{{gRecaptchaResponse}}                                                                                                           
                    </pre>

                    <div ng-show="subscribed" ng-cloak="" class="alert alert-success text-center"><span ng-click="subscribed = false; userForm.$submitted = false" class="glyphicon glyphicon-remove pull-right"></span>
                        <h1>You have successfully subscribed to KiLearn. Thank You!</h1>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>
